.clear{
    clear: both;
}

section{
    padding-top: 40px;
}

.main{
    width: 70%;
    float: left;
}

section .title{
    margin-bottom: 20px;
    width: 100%;
}

section h1{
    font-size: 80px;
    margin: 0;
}

section .photo{
    width: 100%;
    height: 400px;
    background-color: #ccc;
}

section .side{
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 96px;
}

.photo-side{
    width: 170px;
    height: 120px;
    background: #ccc;
    margin: 0 20px;
    margin-top: 20px;
}

.title-side{
    margin-top: 20px;
    font-size: 19px;
}

.text{
    width: 70%;
    margin-top: 50px;
}

.text p{
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
}